<div class="header">
  <a> <img class="logo" src="../../../assets/logo-gijima-web02.png"> </a>

  <div class="background-bottom-color"> </div>

  <span class="title">Incident Application</span>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">



  <div class="bg">
    <div class="container">

      <div class="panel-body1">
        <form [formGroup]="userinfo" (ngSubmit)="onSubmit()">
          <h1 style="color:white;">Forgot password</h1>
          <label>Email</label><br>
          <input class="input" type="email" formControlName="email" id="email" size="15" name="email" required><br>
          <span class="text-danger" *ngIf="userinfo.controls['email'].hasError('required') && (userinfo.controls['email'].dirty || userinfo.controls['email'].touched)">email is required.</span><br />
          <span class="text-danger" *ngIf="userinfo.controls['email'].hasError('required') && (userinfo.controls['email'].dirty || userinfo.controls['email'].touched)">email must be a valid email address.</span><br />
          <label>Cellphone</label><br>
          <input class="input" style="width: 100% " type="tel" formControlName="cellphone" id="Cellphone" name="Cellphone" required><br><br>
          <span class="text-danger" *ngIf="userinfo.controls['cellphone'].hasError('required') && (userinfo.controls['cellphone'].dirty || userinfo.controls['cellphone'].touched)">cellphone is required.</span><br />
          <span class="text-danger" *ngIf="userinfo.controls['cellphone'].hasError('required') && (userinfo.controls['cellphone'].dirty || userinfo.controls['cellphone'].touched)">cellphone must be a valid cellphone number.</span><br />
          <!--input name="recover-submit" routerLink="/reset-password" value="Submit" type="submit"-->

          <button type="submit" [disabled]="!userinfo.valid" class="submit" value="Submit" style="margin-right: 15%">SUBMIT</button>
          <!-- <button  routerLink="/next"  class="submit">SUBMIT</button> -->
        </form>

      </div>
    </div>
  </div>

