<div class="header">
  <a> <img class="logo" src="../../../assets/logo-gijima-web02.png"> </a>

  <div class="background-bottom-color"> </div>

  <span class="title">Incident Application</span>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <div class="bg">
    <div class="container">
      <div class="panel-body1">
        <form [formGroup]="reset" (ngSubmit)="OnSubmit()">
          <h1 style="color:white;">Reset Password</h1>
          <label class="lbl">enter password</label><br>
          <input class="input" type="password" formControlName="newPassword" name="password" required><br>
          <span class="text-danger" *ngIf="reset.controls['newPassword'].hasError('required') && (reset.controls['newPassword'].dirty || reset.controls['newPassword'].touched)">Password is required.</span><br />
          <span class="text-danger" *ngIf="reset.controls['newPassword'].hasError('required') && (reset.controls['newPassword'].dirty || reset.controls['newPassword'].touched)">Password must be at least 6 characters.</span>`
          <br />
          <label class="lbl">confirm password</label><br>
          <input class="input" type="password" id="password" formControlName="confirmPassword" name="password" required><br><br>
          <span class="text-danger" *ngIf="reset.controls['confirmPassword'].hasError('required') && (reset.controls['confirmPassword'].dirty || reset.controls['confirmPassword'].touched)">
            Confirm your password
          </span><br />
          <span class="text-danger" *ngIf="reset.controls['confirmPassword'].hasError('ConfirmedValidator') && (reset.controls['confirmPassword'].dirty || reset.controls['confirmPassword'].touched)">
            Passwords must match
          </span><br />
          <button type="submit" class="submit" style="margin-right: 10%">SUBMIT</button>
          <!-->button mat-button (click)="openDialog()">Confirm box</!-button-->
        </form>

      </div>
    </div>
  </div>
</div>












