/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


/*credentials*/
h1 {
  text-align: center;
}

.panel-body1 {
  width: 30%;
  height: 250px;
  background-color: rgb(143, 141, 141);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  color: white;
  position: absolute;
  left: 50%;
  word-wrap: break-word;
  transform: translateX(-50%) translateY(-50%);
  margin-block-start: 20%;
}



#cellphone {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(228, 228, 240);
  height: 100px;
  margin-right: 120px;
  padding: 12px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #062e72;
  z-index: 100;
  /*box-shadow: 0014pxrgba(0, 0, 0, 0.713);*/
}

/* You can add global styles to this file, and also import other style files */






.submit {
  color: white;
  width: 65%;
  background-color: #040b66;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  justify-content: center;
  display: flex;
  margin: 0 auto;
}



input[type="email"],
input[type="password"]
input[type="tel"], select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(228, 228, 240);
  height: 0px;
  margin-right: 120px;
  padding: 12px;
}



.text-center {
  color: white;
}

input[type="email"], textarea
input[type="text"], textarea
input[type="tel"], textarea {
  background-color: white;
}



  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus
  input[type="tel"]:focus {
    /*border-bottom: 2px solid white;*/
    color: black;
    transition: 0.2s ease;
  }



/* BASIC */



/*.container {
    background-image: url(./assets/matthew-henry-nvFpb_MMRj8-unsplash.jpg);
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100px;
  }*/

.bg {
  /* The image used */
  background-image: url(./assets/matthew-henry-nvFpb_MMRj8-unsplash.jpg);
  /* Full height */
  height: 1000%;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}












/* You can add global styles to this file, and also import other style files */


/* forgot password*/
.form-gap {
  padding-top: 3000px;
}


.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #062e72;
  z-index: 100;
  /*box-shadow: 0014pxrgba(0, 0, 0, 0.713);*/
}

  .header a {
    cursor: pointer;
  }

.title {
  position: absolute;
  top: 50%;
  left: 220px;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: rgba(255, 255, 255, 0.838);
  font-size: 24px;
}


.logo {
  position: relative;
  margin: 10px;
  height: 50px;
}

.profile-container {
  position: absolute;
  top: 0;
  right: 25px;
  bottom: 0;
  width: 250px;
  color: white;
}

  .profile-container:hover {
    background-color: #0c3a8a65;
    color: rgb(220, 220, 220);
    cursor: pointer;
  }

.profile-picture-circle {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 50%;
  left: 10px;
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  /* background: linear-gradient(to right, #ff0000 0%,#724696 85%,#86acff 90%); */
  background: #86acff;
  border-radius: 50%;
}

.picture {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 46px;
  width: 46px;
  border-radius: 50%;
  background-color: white;
}

.text-container {
  position: relative;
  margin-left: 70px;
}

.name {
  position: absolute;
  left: 0;
  top: 15px;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.role {
  position: absolute;
  left: 0;
  top: 35px;
  right: 0;
  margin: 0;
  padding: 0;
}




html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


/*counter*/


.title {
  position: absolute;
  top: 50%;
  left: 220px;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: rgba(255, 255, 255, 0.838);
  font-size: 24px;
}

h1 {
  text-align: center;
}



input[type="email"], textarea {
  background-color: white;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #062e72;
  z-index: 100;
  box-shadow: 0014pxrgba(0, 0, 0, 0.713);
}

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  background: #DDD;
  font-size: 10px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


.input[type="text"], input[type="email"] select {
  /*width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      padding: center;
      display: inline-block;*/
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgb(228, 228, 240);
  height: 350px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"] :focus {
  /*border-bottom: 2px solid white;*/
  color: black;
  transition: 0.2s ease;
}



.submit {
  color: white;
  width: 65%;
  background-color: #040b66;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  justify-content: center;
  display: flex;
}

input[type="email"], textarea
input[type="password"] {
  background-color: white;
}

input[type="email"],
input[type="password"], select {
  width: 100%;
  /* padding: 15px 20px;
    margin: 8px 0;
    display: inline-block;*/
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /*padding: center;*/
  background-color: rgb(228, 228, 240);
  height: 20px;
  margin-right: 120px;
  padding: 12px;
}

.lbl {
  text-align: center;
}



input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  /*border-bottom: 2px solid white;*/
  color: black;
  transition: 0.2s ease;
}




.text-center {
  color: white;
}

input[type="email"], textarea {
  background-color: white;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"] {
  /*border-bottom: 2px solid white;*/
  color: black;
  transition: 0.2s ease;
}
